/* .backlogBtn {
    border: none;

    display: flex;
    justify-content: space-between;

    margin: 12px;

} */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #5E6C84;
    background-color: rgb(208, 210, 216);
    padding: 0;
    border-radius: 10px;
    width: 170px;
    /* pointer-events: all; */
}

.button:hover,
.button:active,
.button:focus {
    color: #ffffff;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    background-color: #0079BF;

}

.plus {
    width: 15px;
    height: 15px;
    font-size: auto;
    margin: 0;
    /* padding-left: 5px; */
    /* line-height: 21px; */
}

.text {
    font-size: 15px;
    line-height: 21px;
    margin: 0;
    padding: 5px 10px 5px 5px;

}

.add:hover,
.add:active,
.add:focus {
    color: #5E6C84;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    background-color: #ffffff;

}

.button:disabled {
    background-color: rgb(208, 210, 216);
}