.style {
    min-width: 250px;
    background-color: rgb(208, 210, 216);
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
    margin-bottom: 20px;
}

.readyTitle {
    font-size: 18px;
    line-height: 21px;
    margin: 12px;
    margin-bottom: 24px;
}

.listItem {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tasks {
    margin: 0 12px 12px 12px;
    padding: 5px 0 5px 5px;
    border: none;
    border-radius: 3%;

    width: 225px;
    min-height: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}