/* body {
  background-color: #0079BF;
  margin: 0;
} */

.App {
  /* text-align: center; */
  margin: 0;
  /* background-color: #0079BF; */


  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #0067A3;
  /* margin: 0; */
  height: 55px;
  display: flex;
  justify-content: space-between;
}

/* h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
  margin: 0 0 0 20px;
  padding-top: 11px;
}

.image {
  display: flex;
  width: 54px;
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
}

.image-user {
  background-color: #FFFFFF;
  width: 38.4px;
  height: 38.4px;
  border-radius: 50%;
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@media screen and (max-width: 1000px) {
  .header {
    justify-content: flex-end;
    background-color: #0079BF;
  }
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */