.App {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #0067A3;
  height: 55px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .header {
    justify-content: flex-end;
    background-color: #0079BF;
    z-index: 2;

  }
}