.style {
    min-width: 250px;
    background-color: rgb(208, 210, 216);
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
    margin-bottom: 20px;
}

.title {
    font-size: 18px;
    line-height: 21px;
    margin: 12px;
}

.listItem {
    padding: 0;
    list-style: none;
}